/* ----- face picking screen ----- */
.face-expression{
    font-size: 0.75rem;
    background: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Hide the browser's default radio button */
.face-expression input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

.face-expression div{
    /* border: red 1px solid; */
    display: block;
}

.face-expression label{
    padding: 1rem;
    cursor: pointer;
}

.face-expression input:checked + label{
    outline: var(--white-text) 0.125rem solid;
    border-radius: 1.25rem;
}

/* ----- skip button ----- */
.skip-button{
    background: none;
    border: none;
    outline: none;
    color: var(--white-text);
    box-shadow: none;
    font-size: 0.75rem;
    cursor: pointer;
    margin-top: 1rem;
}
.skip-button:hover{
    text-decoration: underline;
    box-shadow: none;
}

/* ----- Navigation (back and skip) */
.back-skip-navigation{
    display: flex;
    justify-content: space-between;
}