/* This css is used for the Journal writing part */

.journal-form{
    display: block;
    background: none;
    box-shadow: none;
    margin: 1rem 0;
    padding: 0;
    /* border: yellow 1px solid; */
}


.prompts-headings{
    font-size: 1rem;
    font-weight: normal;
}

/* ----- face picking screen ----- */
.mood-icons{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1rem;
    margin: 3rem 0;

}


/* Hide the browser's default radio button */
.mood-icons input {
    position: absolute;
    opacity: 0;
  
  }


.mood-icons label{
    padding: 0.25rem;
    cursor: pointer;
    /* border: green 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.75rem;
}

.mood-icons img{
    width: 100%;
    /* height: 2rem; */
    margin: 0.5rem;
    /* cursor: pointer; */
}

.mood-icons input:checked + label{
    outline: var(--white-text) 0.125rem solid;
    border-radius: 1.25rem;
}


/* mood icons will be block display when smaller screen */
@media screen and (max-width: 300px){
    .mood-icons{
        display: flex;
        
        flex-direction: column;
        align-items: start;
    }
    .mood-icons label{
       display: flex;
       flex-direction: row;
       align-items: center;
       width: 100%;
       flex-grow: 1;
    }

    .mood-icons img{
        width: 2rem;
        /* height: 2rem; */
        /* margin: 0.5rem; */
    }

}

/* ----- text area ----- */
/* this is the area where textarea and add button are in */
.journal-form-textarea-button-container {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1.25rem;
    margin: 1rem 0;
}
.journal-form textarea {
    width: 100%;
    height: 10rem;
    border: none;
    background-color: transparent;
    resize: none;
    box-shadow: none;
    
}

.journal-form textarea:focus{
    outline: 0.125rem var(--black-text) solid;
}

.journal-form button{
    /* margin: 1rem 0; */
}

/* ----- skip button ----- */
.skip-button{
    background: none;
    border: none;
    outline: none;
    color: var(--white-text);
    box-shadow: none;
    font-size: 0.75rem;
    cursor: pointer;
    /* margin-top: 1rem; */
    border-radius: 1.25rem;
    transition: 0.1s;
}
.skip-button:hover{
    text-decoration: underline;
    box-shadow: none;
}

.skip-button:focus{
    outline: 0.125rem var(--orange) solid;
    text-decoration: underline;

}

/* ----- Navigation (back and skip) */
.back-skip-navigation{
    display: flex;
    justify-content: space-between;
}



/* entry option buttons */
.entry-options{
    color: var(--black-text);
    display: flex;
    gap: 0.5rem;
}

.entry-options button{
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.5rem;
}

.entry-options button:focus{
    outline: 0.125rem var(--black-text) solid;
}

.entry-options div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
}

.entry-options img {
    width: 1rem;
    height: 1rem;
    /* margin: 0.5rem; */
    /* cursor: pointer; */
}

#entry-options-button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 1rem 0; */
}
#entry-options-button-container .button{
    width: 10rem;
    /* justify-content: space-between; */
    /* margin: 1rem 0; */
}