/* ---------- Navigation Styling ---------- */
.navigation {
    margin: 0.5rem;
    padding: 1rem 0;
    border-radius: 1.25rem;
    z-index: 100;
    background-color: var(--navigation-purple);
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 40rem) {
    .navigation {
        top: 0;
    }
}

/* move the nav to the bottom when smaller screens */
@media (max-width: 40rem) {
    .navigation {
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        position: fixed;
    }
}

.navigation a {
 
    padding: 0.5rem;
    color: var(--white);
    text-align: center;
    font-size: 0.75rem;
    border-radius: 1.25rem;
    transition: 0.1s;


}

.nav-dual-coding {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-dual-coding img {
    margin-bottom: 0.25rem;
    /* Adjust the spacing between the icon and the text */
    width: 1.5rem;
    height: 1.5rem;
}


.navigation a:hover {
    /* background-color: var(--light-green); */
    /* outline: 0.125rem solid var(--white); */
    /* color: var(--white); */
}

.navigation a:focus{
    outline: 0.125rem solid var(--white);
    transition: 0.1s;

}

.navigation a.active {

    background-color: var(--deep-purple);

}