.progress-bar {
    width: 100%;
    height: 1rem;
    border-radius: 1.25rem;
    background-color: var(--white-text);
    outline: 0.125rem var(--white-text) solid;
    margin: 1rem 0;
    
}
.progress-bar-fill {
    background-color: var(--navigation-purple);
    height: 1rem;
    border-radius: 1.25rem;
    transition: 0.5s;
}
