/* ---------- Root Variables ---------- */
:root {
  --white-text: #f3f3f3;
  --black-text: #171717;
  --deep-purple: #393a65;
  --light-purple: #e5dbf5;
  --white: #ffffff;
  --orange: #ff8e5a;
  --orange-hover: #ffd2bd;
  --dark-orange: #834224;
  --navigation-purple: #7f6aa1;

}

/* language setting */
/* .ltr {
  direction: ltr;
  text-align: left;
}

.rtl {
  direction: rtl;
  text-align: right;
} */


/* ---------- Global Styling ---------- */
html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

body,
html {
  background-color: var(--deep-purple);
  color: var(--white-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: regular;
  font-size: 1rem;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;

}

/* ---------- Typography ---------- */
h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: normal;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

p{
  margin: 0.5rem 0;
}

/* ----- speech bubble on the home ----- */
.speech-bubble {
  background-color: var(--white);
  color: var(--black-text);
  padding: 1rem;
  border-radius: 1.25rem;
  margin: 1rem 0;
  position: relative;
  border: var(--black-text) 0.125rem solid;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 0;
  border: 1.25em solid transparent;
  border-top-color: var(--white);
  border-bottom: 0;
  border-left: 0;
  margin-left: -0.625rem;
  margin-bottom: -1.25rem;
}

/* ---------- Link Styling ---------- */
a {
  text-decoration: none;
}



/* ---------- Form, Input, and Button Styling ---------- */
textarea,
input,
button,
select {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

.button {
  background-color: var(--orange);
  color: var(--black-text);
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border-radius: 1.25rem;
  transition: 0.1s;
  box-shadow: 0 0.4rem var(--dark-orange) ;
}

.button:hover {
  background-color: var(--orange-hover);
  transition: 0.1s;
  box-shadow:  0 0.1rem var(--dark-orange) ;
  transform: translateY(0.3rem);

}

.button:focus {
  /* outline: 0.125rem var(--black-text) solid; */
  background-color: var(--orange-hover);
  transition: 0.1s;
  box-shadow:  0 0.1rem var(--dark-orange) ;
  transform: translateY(0.3rem);
}

.sub-button {
  background-color: var(--deep-purple);
  color: var(--white-text);
  border: 0.125rem solid var(--orange);
  transition: 0.1s;
}

.sub-button:hover {
  background-color: var(--deep-purple);
  color: var(--white-text);
  border: 0.125rem solid var(--white-text);
  transition: 0.1s;
}

.sub-button:focus {
  background-color: var(--deep-purple);
  color: var(--white-text);
  border: 0.125rem solid var(--white-text);
  transition: 0.1s;
}

.delete-button {
  background-color: var(--deep-purple);
  color: var(--white-text);
  text-decoration: underline;
  border: none;
  transition: 0.1s;
  box-shadow: none;
}

.delete-button:hover,
.delete-button:focus {
  background-color: var(--deep-purple);
  color: var(--white-text);
  text-decoration: none;
  transition: 0.1s;
  border: 0.125rem solid var(--white-text);
  box-shadow: none; 
  transform: none;

}


/* ---------- Page Styling ---------- */
.page {
  /* animation: fadeIn 0.5s; */
  /* padding: 140px 2em 2em; */
  padding: 1rem;
  max-width: 40rem;
  margin: auto;
  padding-bottom: 10rem;
  /* justify-content: center; */

}

/* ---------- Container Styling ---------- */
.container {
  /* max-width: 700px; */
  margin: auto;
}

/* ---------- Post Card Styling ---------- */



/* ---------- Animations ---------- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




.icon {
  width: 1.25rem;
  height: 1.25rem;
}



/* skip-to-conetnt button */
.skip-to-content-button {
  text-align: center;
  padding: 1rem;
  border: var(--white-text) 0.125rem solid;
  background-color: var(--orange);
  color: var(--black-text);
  border-radius: 1.25rem;

  position: absolute;
  top: -10rem;
  transition: 0.1s;

}

.skip-to-content-button:focus {
  top: 0rem;
  /* transition: 0.1s; */
}

/* ----- Back buttons ----- */
.back-button {
  background-color: var(--deep-purple);
  border: 0.0625rem solid var(--white-text);
  border-radius: 1.25rem;
  outline: none;
  /* padding: 0.5rem; */
  color: var(--white-text);
  box-shadow: none;
  font-size: 0.75rem;
  cursor: pointer;
  transition: 0.1s;
}

.back-button:focus {
  outline: 0.125rem var(--orange) solid;
  transition: 0.1s;

}

/* ----- Link cards in generel ----- */
.link-card {
  background-color: var(--light-purple);
  color: var(--black-text);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 0 0.4rem var(--navigation-purple) ;
}




.link-card:hover {
  background-color: var(--white);
  transition: 0.1s;
  box-shadow: 0 0.1rem var(--navigation-purple) ;
  transform: translateY(0.3rem);

}

.link-card span {
  color: var(--black-text);
  transition: 0.1s;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}



.link-card:has(a:focus),
/* used for entry detail page */
.link-card:focus  {
  background-color: var(--white);
  outline: 0.125rem var(--orange) solid;
  box-shadow: 0 0.1rem var(--navigation-purple) ;
  transform: translateY(0.3rem);
}



/* link cards for my entries */
.link-card a {
  color: var(--black-text);
  font-weight: normal;
}

.entry-list {
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

/* ----- button container for the homepage ----- */
#button-container a {
  display: block;
  text-align: center;
  margin-top: 1rem;
}


/* ----- mindy allover ----- */
.mindy-illustrations {
  margin: 2rem 0;
  /* align-items: center; */
  text-align: center;
  /* border: red 1px solid; */
}

/* h1 entry detail page */
.icon-and-text {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 0.5rem;
}